<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link rel="stylesheet" href="/css/styles.css">

</head>
<body>
    <div id="nav-bar">   
        <ul>
            <li><a  href="index.html">Home</a></li>
            <li><a class="active" href="/views/about.html">About</a></li>
            <li><a href="/views/works.html">Works</a></li>
         </ul>
        
    </div>
    <div>

        <div class="parent">
           
            <div class="div1">
              <img id="xuxa-old" src="/images/xuxa1.jpeg" alt="Xuxa Anos 90"> <img id="xuxa-new" src="/images/xuxa2.jpeg" alt="Xuxa Atual"> 
            </div>
                
        </div>
        <div>
            <p class="about-xuxa">Maria da Graça Xuxa Meneghel (born 27 March 1963) is a Brazilian television host, film actress, singer, model, and businesswoman. Her various shows have been broadcast in Portuguese, English, and Spanish worldwide. She started her career as a children’s television host reaching wide success in Brazil and abroad, earning two Latin Grammy Awards for Best Children's Album and her epithet, the "Queen of the Little Ones". </p>

            <p class="about-xuxa">   Xuxa began her television career with the Clube da Criança on Rede Manchete in the early 1980s. She became a national superstar when she moved to TV Globo in 1986 for the Xou da Xuxa. She was the first Brazilian to appear on Forbes magazine's list of richest artists in 1991, taking 37th place with an annual gross income of US$19 million.</p>
                
            <p class="about-xuxa">Over her 30-year career, Xuxa has sold over 30 million copies of her records worldwide, which makes her the highest-selling Brazilian female singer. Her net worth was estimated at US$100 million in the early 1990s. As of 2020, she continues to be among Brazil's most prominent celebrities. Also successful as a businesswoman, she has the highest net worth of any Brazilian female entertainer, estimated at US$400 million. </p>
        </div>
        

        


    </div>
</body>
</html>