<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Works</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <div id="nav-bar">   
        <ul>
            <li><a href="index.html">Home</a></li>
            <li><a href="/views/about.html">About</a></li>
            <li><a class="active" href="/views/works.html">Works</a></li>
         </ul>
    </div>
    <div class="xuxa-works">
        <img id="xuxa-80" src="/images/xuxa-80s.jpeg" alt="Xuxa 80s" />
            <p>80s...</p>
            <p class="about-xuxa"> bla bla bla bla </p>

        <img id="xuxa-90" src="/images/xuxa-90s.jpeg" alt="Xuxa 90s" />
            <p>90s...</p>
            <p class="about-xuxa"> bla bla bla bla </p>


        <img id="xuxa-2000" src="/images/xuxa-2000.jpeg" alt="Xuxa 2000s" />
            <p>2000s...</p>
            <p class="about-xuxa"> bla bla bla bla </p>

            
        </div>
    </div>
</body>
</html>