@import url('https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&family=Open+Sans+Condensed:wght@300&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
}
body {
    background: rgb(238, 179, 233);
    color: white;
    font-family: 'Open Sans Condensed', sans-serif;
}

h1, h2 {
    font-family: 'Gloria Hallelujah', cursive;
    font-weight: 100;
    font-size: 3rem;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border: 1px solid lightgreen;
    background-color: rgb(236, 146, 224);
  }
  
li {
    float: left;
  }
  
li a {
    display: block;
    color: darkgreen;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
li a:hover:not(.active) {
    background-color: hotpink;
  }
  
li a.active {
    color: white;
    background-color: #04AA6D;
  }

#header {
    display: flex;
    justify-content: center;

}

#show-xuxa {
    margin-top: 20px;
    margin-bottom: 40px;
    width: 400px;
}

.parent {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 35% 50% 15%;
    grid-column-gap: 0px;
    grid-row-gap: 0px;

    display: flex;
    justify-content: center
    
    }
    
    .div1 { 
        grid-area: 1 / 1 / 2 / 3; 
        display: inline-flex;
        justify-content: center; 
        align-items: center;
    }

p {
    color: white;
    font-size: 50px;
    font-family: 'Gloria Hallelujah', cursive;
    display: flex;
    justify-content: center;

}

.about-xuxa {
    color: rgb(238, 50, 144);
    font-size: 15px;
    font-family: 'Gloria Hallelujah', cursive;
    display: flex;
    justify-content: center; 
    padding: 20px;

}

#xuxa-old, #xuxa-new {
    
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 35px;
    width: 30%; 
}

.xuxa-works {
    display: grid;
    padding: 2rem;
    grid-template-columns: 300px 1fr 200px;
    gap: 1rem;
    align-items: center;
    max-width: 800px;
    margin: 0 auto;
    font: 500 100%/1.5 system-ui;
  }
  img {
    max-width: 90%;
    height: auto;
  }